<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770615666937-tcuodkfi637o5qglvmuhtviclo2rp7p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770615666937-tcuodkfi637o5qglvmuhtviclo2rp7p3</string>
	<key>API_KEY</key>
	<string>AIzaSyBlkGCQUSzgspcLP567wfWVbQrZ1Jrm-kA</string>
	<key>GCM_SENDER_ID</key>
	<string>770615666937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Purdue-University.talkToChat</string>
	<key>PROJECT_ID</key>
	<string>talktochat-58747</string>
	<key>STORAGE_BUCKET</key>
	<string>talktochat-58747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770615666937:ios:d0d9cef8bc83ce68795a28</string>
</dict>
</plist>